{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    <h2>Cadastro de Música</h2>

    <form action="/adicionar" method="post" enctype="multipart/form-data">
        <fieldset>

            {{  form.csrf_token() }}

            <div class="mb-3">
                <label for="txtArquivo" class="form-label">Selecione a imagem capa do album</label>
                <input class="form-control" type="file" id="txtArquivo" name="txtArquivo" accept=".jpg, .jpeg, .png">
            </div>
            <div class="mb-3">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.grupo.label(class="form-label") }}
                {{ form.grupo(class="form-control") }}                
            </div>

            <div class="mb-3">
                {{ form.genero.label(class="form-label") }}
                {{ form.genero(class="form-control") }}                  
            </div>

            <div class="mb-3">
                {{ form.cadastrar(class="btn btn-primary") }}
               
            </div>
        </fieldset>
    </form>
{% endblock %}
