{% extends 'base.html' %}

{% block title %}Editar{% endblock %}

{% block content %}
    <h2>Editar Música</h2>

    <form action="{{url_for('atualizar')}}" method="post" enctype="multipart/form-data">
        <fieldset>

            {{  musica.csrf_token() }}
                

                    <figure class="img-thmbnail mb-3">
                        <img class="img-fluid" src="{{ url_for('imagem', nome_imagem=album_musica)}}">
                    

                        <figcaption>
                            <label for="txtArquivo" class="form-label">
                                Selecione uma nova imagem
                                <input type="file"  name="txtArquivo" id="txtArquivo" 
                                accept=".jpg, .jpeg, .png" class="form-control">
                            </label>
                        </figcaption>

                    </figure>

                    <input type="hidden" name="txtId" value="{{id}}">

                    <div class="mb-3">
                        {{ musica.nome.label(class="form-label") }}
                            {{ musica.nome(class="form-control") }}
                    </div>
                        {{ musica.grupo.label(class="form-label") }}
                            {{ musica.grupo(class="form-control") }}  
                    <div class="mb-3">
                        
                    </div>
                        {{ musica.genero.label(class="form-label") }}
                            {{ musica.genero(class="form-control") }} 
                    <div class="mb-3">
                        
                    </div>
                        {{ musica.cadastrar(class="btn btn-primary") }} 
                    <div class="mb-3">
                        
                
        </fieldset>
    </form>
{% endblock %}
